<div class="container">
    <h1 class="jumbotron-heading text-center">About me</h1>
    <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum convallis augue, at auctor leo pharetra a. Sed pellentesque vitae nibh a dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam id pretium nibh. Nunc odio diam, dignissim vel nunc vel, rhoncus rutrum mauris. Phasellus finibus arcu id mi malesuada cursus. Integer egestas odio lacus, et dictum lorem euismod id.</p>
</div>